{% load static %}
<style>
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  button:hover,
  a:hover {
    opacity: 0.7;
  }
</style>

<div class="grid-container bg-white">
    <div class="grid-item"><br>
      <div class="card">
        <img src="{% static "todo/images/admin.png" %}" alt="NA" style="width:100%">
        <p class="title">ADMIN</p>
        <p><button><a href="{% url 'userclick_view' 1 %}">View</a></button></p>
      </div>

    </div>

    <div class="grid-item"><br>
      <div class="card">
        <img src="{% static "todo/images/doctor.png" %}" alt="NA" style="width:100%">
        <p class="title">DOCTOR</p>
        <p><button><a href="{% url 'userclick_view' 2 %}">View</a></button></p>
      </div>
    </div>

    <div class="grid-item"><br>
      <div class="card">
        <img src="{% static "todo/images/patient.jpg" %}" alt="NA" style="width:100%">
        <p class="title">PATIENT</p>
        <p><button><a href="{% url 'userclick_view' 3 %}">View</a></button></p>
      </div>
    </div>
<br><br>
  </div>
