{% load static %}
<div  class="row " style="background-image: url('{% static 'todo/images/successbackgroundbase.png' %}');background-attachment: fixed;
 background-size: cover;
 background-position: center;background-blend-mode: luminosity; ">
   <div class="col-lg-4 col-md-4 col-sm-4 about">
    <img src="{% static 'todo/images/ceopic.png' %}" class="img-fluid" height="40%" style="max-width:70%;height:80%;">
    <span class="text-justify text-success">VIJAY KUSHAWAH CEO</span>
   </div>
   <div class="col-lg-8 col-md-8 col-sm-8 about">

    <h3 class="text-primary">WHY,YOU CHOOSE US</h3>
    <p class="text-danger font-weight-bold font-italic">
      We constantly strive to provide a consistent and high-quality service. We do this through our staff. We recruit motivated and compassionate people, then develop, manage and invest heavily in their training so that they not only do an excellent job but love their jobs, too. This makes happier services for the people we support.

We’re here to help in any way we can – so please don't hesitate to get in touch.
       .<br>
      We are prviding services to needy people who  can't afford premium service charges.
     <b></b><p class="text-center">
     <mark>Don't wait for your turn,do it now! </mark></p>
<!-- <input type="button"  id="crossdata" value="GET CROSS DATA" class="btn btn-success crossdata"  /> -->

    </p>
   </div>
  </div>
