{% extends 'todo/base.html' %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container"></div>
<div class="overlay">
<style>
  .glow {
        font-size: 50px;
        color: white;
        text-align: center;
        -webkit-animation: glow 1s ease-in-out infinite alternate;
        -moz-animation: glow 1s ease-in-out infinite alternate;
        animation: glow 1s ease-in-out infinite alternate;
      }

      @-webkit-keyframes glow {
        from {
          text-shadow: 0 0 10px #eeeeee, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 0 0 50px #9554b3, 0 0 60px #9554b3, 0 0 70px #9554b3;
        }

        to {
          text-shadow: 0 0 20px #eeeeee, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
        }
      }
</style>
<br><br>
  <h5 class="display-3 glow">You’ll Love the Way We Care for You</h5>
  <br>
  <div class="text-center">
    <h1 class="display-4">Hello {{request.user.first_name}}</h1>
    <p class="lead">{{error}}!!!</p>
    <hr class="my-4">
    <p>PLEASE LOGOUT AND SIGNUP/LOGIN WITH CORRESPONDING USER CREDENTIALS</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/logout" role="button">LOGOUT FOR NOW</a>
    </p>
    <center> SIGNUP AS
                   <table  class="text-center borderless">

                   <tr><td>
                  <button class="bg-success text-success"><a class="text-white" href="{% url 'userclick_view' 1 %}">ADMIN</a></button></td>
                     <td>
                   <button class="bg-danger text-success"><a class="text-white"  href="{% url 'userclick_view' 2 %}">DOCTOR</a></button></td>

                   <td><button class="bg-info text-success"><a class="text-white"   href="{% url 'userclick_view' 3 %}">PATIENT</a></button></td>
                   </table></center><br>
  </div>
    {% include 'todo/admin-doctor-patient-card.html' %}
</div>
{% endblock %}
